 .btnProducts {
  border-radius: 10%;
  color:white;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background:  #0065FC;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

&::before{
  border-radius: 10%;

  content: '';
  background: white;
  width: 101%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: .7s ease;
  border: none;

  }
}
.btnProducts{

  &:before{
    width: 101%;
    height: 0;
    
}

&:hover{
    color: black;
    transition: .7s ease;
    &:before{
        height: 99%;
        border: 20ch solid rgb(41, 156, 233);

    }
}
}


.btnAction{

  display: flex;
  justify-content: center;
}
.trash{
  background: #cf0000;
  &:hover{
    box-shadow: -1px 5px 15px 0px #cf0000; 
    &:before{
      border: 20ch solid #cf0000;

  }
  }
}
.edit{
  background-color: #046f5d;
  &:hover{
    box-shadow: -1px 5px 15px 0px #046f5d; 
    &:before{
      border: 20ch solid #046f5d;

    }
  }
}
.view{
  background:  rgb(0, 101, 252);
 &:hover{
    box-shadow: -1px 5px 15px 0px rgb(0, 101, 252); 

  }
}