.TableGeneralItens{
  margin-top: 3%;
}

.name{
  width: 30%;
}
.tdBtnAll{
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
}
.tdBtnAll button{
  height: 70%;
}

@media screen and (max-width: 480px) {
/* .TableGeneralItens{
  font-size: 12px;
} */
  
  /* Esconde a coluna ID */
  .TableGeneralItens th:first-child,
  .TableGeneralItens td:first-child {
    display: none;
  }

  /* Opcional: ajustar largura das outras colunas */
  .TableGeneralItens td,
  .TableGeneralItens th {
    padding: 8px;
  }


  
}