/* .Table{
  width: 50%;
  display: flex;
  gap: 5%;
}
.tableCont{
  width: 100%;
  display: flex;

 
} */

/* TABLE */
.TableRec,.TableFaltantes{
  width: 50%;
}
  

table {
  width:100%;
  border-collapse:collapse;

}

table th {

  color: #ffffff;
}
thead tr{
  box-shadow: -1px 5px 30px 0px rgba(22, 22, 22, 0.74);

}
thead tr th {
  height: 6ch;
  text-align:center;
  padding:2%;
  &:first-child{
    text-align:left;

  }
  }

table tbody tr th {
  padding:2.5%;
  text-align:left;
  color: #ffffff;
  height: 5ch;
 
}
table tbody tr td{
  height:8ch;

  padding:2%;
  text-align: center;
  &:first-child{
    text-align: left;

  }
  
}


@media (width < 780px){
    .Table{
      display: flex;
      flex-direction: column;
      row-gap:25px;

    }
    
}
@media (width < 480px){
  .TableRec,.TableFaltantes{

   width: 100%;
  }
}